@import url('https://fonts.googleapis.com/css?family=lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: #333;
  color: #222;
  overflow-x: hidden;
}
.container {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 5rem;
}
.container.show-nav {
  transform: rotate(-20deg);
}
.circle-container {
  position: fixed;
  top: -10rem;
  left: -10rem;
}
.circle {
  background-color: #ff7979;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}
.container.show-nav .circle {
  transform: rotate(-70deg);
}
.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10rem;
  background: transparent;
  border: 0;
  font-size: 2.6rem;
  color: #fff;
}
.circle button:focus {
  outline: none;
}
.circle button#open {
  left: 60%;
}
.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}
.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}
nav {
  position: fixed;
  bottom: 4rem;
  left: 0;
  z-index: 100;
}
nav ul {
  list-style-type: none;
  padding-left: 3rem;
}
nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 4rem 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}
nav ul li i {
  font-size: 2rem;
  margin-right: 1rem;
}
nav ul li + li {
  margin-left: 1.5rem;
  transform: translateX(-150%);
}
nav ul li + li + li {
  margin-left: 3rem;
  transform: translateX(-200%);
}
.content img {
  max-width: 100%;
}
.content {
  max-width: 100rem;
  margin: 5rem auto;
}
.content h1 {
  margin: 0;
}
.content small {
  color: #555;
  font-style: italic;
}
.content p {
  color: #333;
  line-height: 1.5;
  margin: 3rem 0;
}
.content h3 {
  font-size: 1.6rem;
  margin: 1rem 0;
}
