@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background-color: steelblue;
  color: #fff;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem 4rem;
  border-radius: 5px;
}

.container h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.container a {
  text-decoration: none;
  color: lightblue;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: lightblue;
  padding: 1.5rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: 0;
  border-radius: 0.5rem;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.text {
  margin-top: 3rem;
}

.form-control {
  position: relative;
  margin: 2rem 0 4rem;
  width: 30rem;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 0.2rem #fff solid;
  display: block;
  width: 100%;
  padding: 1.5rem 0;
  font-size: 1.8rem;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 1.5rem;
  left: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 1.8rem;
  min-width: 0.5rem;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: lightblue;
  transform: translateY(-3rem);
}
