@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background-color: #3b3b98;
  color: #fff;
  font-family: 'Muli', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  padding: 1rem;
}

h2 {
  margin: 1rem 0 2rem;
  text-align: center;
}

.container {
  background-color: #23235b;
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
  padding: 2rem;
  width: 35rem;
  max-width: 100%;
}

.result-container {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  padding: 1.2rem 1rem;
  height: 5rem;
  width: 100%;
}

.result-container #result {
  word-wrap: break-word;
  max-width: calc(100% - 4rem);
}

.btn {
  border: none;
  background-color: #3b3b98;
  color: #fff;
  font-size: 1.6rem;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
}

.btn-large {
  display: block;
  width: 100%;
}

.result-container .btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}
