@import url('https://fonts.googleapis.com/css?family=Mulidisplay=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background-color: #e1e1e1;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

.key {
  border: 0.1rem solid #999;
  background-color: #eee;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.1rem);
  display: inline-flex;
  align-items: center;
  font-size: 2rem;
  padding: 2rem;
  flex-direction: column;
  margin: 1rem;
  font-weight: bold;
  min-width: 15rem;
  position: relative;
}

.key small {
  position: absolute;
  top: -2.4rem;
  left: 0;
  text-align: center;
  width: 100%;
  color: #555;
  font-size: 1.4rem;
}
