@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');

:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  transition: all 0.5s ease-in;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}

html.dark {
  background-color: #111;
  color: var(--primary-color);
}

body {
  font-family: 'Heebo', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.toggle {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 0;
  border-radius: 0.4rem;
  padding: 0.8rem 1.2rem;
  position: absolute;
  top: 10rem;
}

.toggle:focus {
  outline: none;
}

.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.clock {
  position: relative;
  width: 20rem;
  height: 20rem;
}

.needle {
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  height: 6.5rem;
  width: 0.3rem;
  transform-origin: bottom center;
  transition: all 0.5s ease-in;
}

.needle.hour {
  transform: translate(-50%, -100%) rotate(0deg);
}
.needle.minute {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 10rem;
}
.needle.second {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 10rem;
  background-color: #e74c3c;
}
.center-point {
  background-color: #e74c3c;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.center-point::after {
  content: '';
  background-color: var(--primary-color);
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.time {
  font-size: 6rem;
}

.date {
  color: #aaa;
  font-size: 1.4rem;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
}

.date .circle {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  height: 1.8rem;
  width: 1.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.8rem;
  transition: 0.5s ease-in;
  font-size: 1.2rem;
}
