@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-color: #2a2a72;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.user-form {
  width: 100%;
  max-width: 70rem;
}

.user-form input {
  width: 100%;
  display: block;
  background-color: #4c2885;
  border: none;
  border-radius: 1rem;
  color: #fff;
  padding: 2rem;
  margin-bottom: 2rem;
  font-family: inherit;
  font-size: 1.8rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
}

.user-form input::placeholder {
  color: #bbb;
}

.user-form input:focus {
  outline: none;
}

.card {
  max-width: 80rem;
  background-color: #4c2885;
  border-radius: 2rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 8rem;
  margin: 0 3rem;
}

.avatar {
  border-radius: 50%;
  border: 1rem solid #2a2a72;
  height: 15rem;
  width: 15rem;
  margin-left: -4rem;
}

.user-info {
  color: #eee;
  margin-left: 4rem;
}

.user-info h2 {
  margin-top: 0;
  font-size: 2rem;
}

.user-info ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
  max-width: 20rem;
  max-width: 40rem;
  margin-top: 3rem;
}

.user-info ul li {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.user-info ul li strong {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.repo {
  text-decoration: none;
  color: #fff;
  background-color: #212a72;
  font-size: 1.2rem;
  padding: 0.3rem 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.1rem;
  display: inline-block;
}

p {
  margin: 3rem 0;
  font-size: 1.4rem;
}

@media (max-width: 500px) {
  .card {
    flex-direction: column;
    align-items: center;
  }

  .user-form {
    max-width: 40rem;
  }
}
